@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.header {
    display: flex;
    justify-content: space-between;
    border:1px solid black;
}
.logo{
 width: 150px;
}
.nav-items{
 padding : 0px 20px
}
.nav-items > ul{
    font-size:20px;
    display: flex;
    list-style-type: none;

}
.nav-items >ul >li{
    padding:10px;
    margin:20px
}
.res-card{
    padding:5px;
    margin:10px;
    width:200px;
    height: 460px;
    border:1px solid black
}
.res-card:hover{
    transition:transform .5s ease-out
}
.search{
    padding:10px
}
 .res-logo{
    width:95%;
    padding:5px;
    height: 40%;
 }
 .res-container{
    display:flex;
    flex-wrap:wrap;
    
 }

 .shimmer-container {
    margin: 10px;
    display: flex;
    
}
.shimmer-card{
    background-color: rgb(236, 236, 236);
    padding: 10px;
    margin: 20px;
    width:200px;
    height: 400px;
}
.login-btn{
    width:50px;
    height: 50px;
    margin:20px
}
.filter{
    display:flex
}
.filter-btn{
    height:20px;
    margin-top:10px
}
.user-card{
    padding:10px;
    border: 1px solid black
} */